body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #d9e8e9;
  background: #13293d;
  font-family: 'Lucida Console', 'Monaco', monospace;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:visited {
  color: #e36397;
}
.content {
  width: 60%;
}
.content section {
  margin-bottom: 5%;
}
@media screen and (max-width: 40em) {
  .content {
    width: 90%;
  }
}
#header {
  padding-top: 1.5em;
}
#header #title {
  text-decoration: none;
}
#header #title h1 {
  color: #e8f1f2;
  margin: 0;
}
#header ul,
#header li {
  display: inline-block;
}
#header #nav li {
  margin-right: 15px;
  border-right: 1px dotted #e36397;
}
#header #nav li a {
  margin-right: 15px;
}
#header #nav li:last-child {
  border-right: 0;
  margin-right: 0;
}
#header #social p,
#header #social ul {
  display: inline;
}
#header #social ul li:after {
  content: ", ";
}
#header #social ul li:last-child:after {
  content: ".";
}
#header #social ul li:nth-last-child(2):after {
  content: " and ";
}
#index {
  padding-top: 1em;
}
#index #posts,
#index #projects {
  padding-bottom: 1em;
}
#index #posts h3,
#index #projects h3 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
#index #posts a,
#index #projects a,
#index #posts small,
#index #projects small {
  display: inline-block;
}
#index #posts a h4,
#index #projects a h4 {
  margin-bottom: 0.15em;
}
#index #projects a,
#index #projects p {
  display: inline-block;
}
#index #projects p {
  margin: 0;
}
#post h1 {
  margin-bottom: 0;
}
#post table,
#post th,
#post td {
  border: 1px solid #bdd5eb;
  padding: 0.5em;
}
#post figure table,
#post figure td,
#post figure th {
  padding: initial;
  border: none;
}
#footer {
  position: absolute;
  bottom: 0;
  padding: 0.725em;
  width: 60%;
  font-size: 12px;
}
#footer a {
  float: right;
}
/**
** Agate by Taufik Nurrohman <https://github.com/tovic>
**/
.highlight {
  color: #fff;
  background: #12273a;
  font-size: 14px;
  padding-left: 1em;
  overflow-x: auto;
}
.highlight table {
  width: auto;
}
.highlight td.gutter {
  text-align: right;
  padding-right: 20px;
  display: none;
}
.highlight .code .name,
.highlight .code .strong {
  font-weight: bold;
}
.highlight .code .code,
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .tag {
  color: #62c8f3;
}
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: #ade5fc;
}
.highlight .code .string,
.highlight .code .bullet {
  color: #a2fca2;
}
.highlight .code .type,
.highlight .code .title,
.highlight .code .section,
.highlight .code .attribute,
.highlight .code .quote,
.highlight .code .built_in,
.highlight .code .builtin-name {
  color: #ffa;
}
.highlight .code .number,
.highlight .code .symbol,
.highlight .code .bullet {
  color: #d36363;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal {
  color: #fcc28c;
}
.highlight .code .comment,
.highlight .code .deletion,
.highlight .code .code {
  color: #888;
}
.highlight .code .regexp,
.highlight .code .link {
  color: #c6b4f0;
}
.highlight .code .meta {
  color: #fc9b9b;
}
.highlight .code .deletion {
  background-color: #fc9b9b;
  color: #333;
}
.highlight .code .addition {
  background-color: #a2fca2;
  color: #333;
}
.highlight .code .highlight a {
  color: inherit;
}
.highlight .code .highlight a:focus,
.highlight .code .highlight a:hover {
  color: inherit;
  text-decoration: underline;
}
