body {
  color: #e8f1f2;
  background: #13293d;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
a,
a:visited {
  color: #e36397;
}
.content {
  padding: 1.5em;
  width: 60%;
}
@media screen and (max-width: 64em) {
  .content {
    width: 90%;
  }
}
#header a {
  text-decoration: none;
}
#header a h1 {
  color: #e8f1f2;
  margin: 0;
}
#header ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0.5em;
}
#header ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px dotted #e36397;
}
#header ul li a {
  margin-right: 15px;
}
#header ul li:last-child {
  border-right: 0;
  margin-right: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#about ul {
  display: inline-block;
}
#about ul li {
  display: inline-block;
}
#about ul li:after {
  content: ", ";
}
#about ul li:last-child:after {
  content: "";
}
#about ul li:nth-last-child(2):after {
  content: " and ";
}
#posts {
  margin-top: 3em;
}
#posts h1 a {
  color: #e8f1f2;
  text-decoration: none;
}
#posts ul {
  -webkit-padding-start: 0;
  list-style: none;
}
#footer {
  position: absolute;
  bottom: 0;
  padding: 0.725em;
  font-size: 12px;
  color: #9cc3c7;
  width: 60%;
}
#footer ul {
  list-style: none;
}
#footer ul li {
  display: inline-block;
}
#footer p,
#footer ul {
  display: inline;
}
#footer a {
  float: right;
}
@media screen and (max-width: 40em) {
  #footer {
    position: absolute;
    width: 90%;
  }
}
.highlight {
  font-family: monospace;
  background: #152d44;
  padding-left: 1em;
  overflow-x: auto;
  margin: 1rem 0 1rem 0;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
.highlight table {
  width: auto;
}
.highlight td.gutter {
  display: none;
}
