body {
  color: #e8f1f2;
  background: #13293d;
  font-family: 'Roboto Mono', monospace;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a,
a:visited {
  color: #e36397;
}
.content {
  padding: 1.5em;
  max-width: 65%;
}
#header a {
  text-decoration: none;
}
#header a h1 {
  color: #e8f1f2;
  margin: 0;
}
#header ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0.5em;
}
#header ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px dotted #e36397;
}
#header ul li a {
  margin-right: 15px;
}
#header ul li:last-child {
  border-right: 0;
  margin-right: 0;
}
#writing {
  margin-top: 3em;
}
#writing h1 a {
  color: #e8f1f2;
  text-decoration: none;
}
#writing ul {
  -webkit-padding-start: 0;
  list-style: none;
}
